/* Write your CSS here */
.heading {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
}
.butt-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
